<form>
  <mat-card class="example-card">
      <mat-card-header style="margin: 0%">
          <div style="color: darkblue;font-family: sans-serif;font-size: 1.5em;">Update</div>
        </mat-card-header>
        <div style="margin: 10px;"></div>
    <div style="margin: 20px;"></div>
    <mat-card-content>
          <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Title" [(ngModel)]="news.title" name="userId" required>
        </textarea></mat-form-field>
      <div style="margin: 20px;"></div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Content" [(ngModel)]="news.content" name="password" required>
      </textarea>
        </mat-form-field>
      <div style="margin: 20px;"></div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="news.description" name="description" required>
      </textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <div align="right">
      <div style="display: inline-block;">
          <button mat-button id="login" type="submit" (click)="update()" #login class="actionButton" >Update</button>
          <button mat-button id="login" type="submit" (click)="cancel()" #login class="actionButton" >Cancel</button>
      </div>
  </div>
    </mat-card-actions>
    
  </mat-card>
  </form>
  